<div class="modal" ui-if='modal_black_edit' ui-state='modal_black_edit'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<form>
          <button class="close" ng-click="closeEdit()">&times;</button>
	</form>
        <h4 class="modal-title">Edit Black Card</h4>
      </div>
      <div class="modal-body">
	<form name="form" class="form-container" role="form">
	  <div class="form-row">
	    <label class="form-element">Text</label>
	    <div placeholder2="{{ editModel.edit ? '' : 'Insert text here..' }}" class="form-element textarea" contenteditable ng-model="editModel.card.text">
	      {{ editModel.card.text }}
	    </div>
	  </div>
	  <div  class="form-row">
	    <label for="pick" class="form-element">Pick</label>
	    <input id="pick" class="form-element" type="text" ng-model="editModel.card.cardsToPick"/>
	  </div>
	  <div  class="form-row">
	    <label for="draw" class="form-element">Draw</label>
	    <input id="draw" class="form-element" type="text" ng-model="editModel.card.cardsToDraw"/>
	  </div>
	  <div  class="form-row">
	    <label for="safe_for_work" class="form-element">Safe for work?</label>
	    <input id="safe_for_work" class="form-element" type="checkbox" ng-model="editModel.card.safeForWork"/>
	  </div>
          <button ng-click="getBlackCardDetails(editModel.cardOld)" ng-show="editModel.edit" class="btn btn-default"><i class="fa {{ editModel.showDetails ? 'fa-angle-double-up' : 'fa-angle-double-down' }}"></i></button>
	</form>
	<div ng-show="editModel.showDetails">
	  <big>Card History</big>
	  <div ng-repeat="revision in editModel.cardOld.revisions | limitTo:4" >
	    <div class="list-group-item">
	      <div>{{ revision.createdtstamp | date:'mediumDate' }} by {{ revision.changedBy.name }} </div><div>{{ revision.text }}</div>
	      <div> (Draw: {{ revision.cardsToDraw }} ) (Pick: {{ revision.cardsToPick }} )</div>
	    </div>
	  </div>
	</div>
      </div>
    
      <div class="modal-footer">
	<form>
          <button ng-click="deleteAndCloseEdit()" class="btn btn-default pull-left" ng-show="editModel.edit">Delete</button>
          <button ng-click="closeEdit()" class="btn btn-default">Close</button>
          <button ng-disabled="editModel.card.text == ''" ng-click="saveAndCloseEdit()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
	</form>
      </div>
    </div>
  </div>
</div>
